<section class="python">
    <div class="container-fluid bg-secondary">
      <div class="row python__height align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/py1.jpg">
                <div class="card-body">
                  <p class="card-text python__card-text">The isalpha() method returns True if all the characters are alphabet letters (a-z).
                     Example of characters that are not alphabet letters:<span class="python__card-text-span">(space)!#%&? etc.</span></p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
