
<section class="homepage">
  <div class="container-fluid bg-secondary">
    <div class="row homepage__height align-items-center">
      <div class="col">
        <div class="card-deck">
          <div class="card outline-red">
            <div class="card-body">
              <h5 class="card-title">Python</h5>
              <p class="card-text">Python Questions and Answers</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-info" routerLink="/python">View Me</button>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Angular Questions and Answers</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-success">View Me</button>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">TypeScript</h5>
              <p class="card-text">TypeScript Questions and Answers</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-warning">View Me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




































